<div class="cover">
  <div class="card">

    <div class="content">
    <nav class="navbar">
      <img alt="user avatar" class="avatar" src="https://avatars.dicebear.com/api/avataaars/solider.svg"> <span
      class="px-3">Omair Gibreel</span>
      <span>TNC Task </span>
    </nav>


    <form [formGroup]="QAForm"  (ngSubmit)="onSubmit()">
      <div formArrayName="questions">
        <div *ngFor="let question of questions().controls; let questionIndex=index">
          <div  [formGroupName]="questionIndex">

            <div class="flex ">
              <label class="label"> Q{{questionIndex + 1}} </label>
              <input class="input-form" type="text" formControlName="question" />
              <span class="icon-container"  (click)="removeQuestion(questionIndex)">
          <ng-icon class="icon" size="30" name="hero-trash-solid"></ng-icon>
        </span>
            </div>

            <div formArrayName="answers">
              <div *ngFor="let answer of questionAnswers(questionIndex).controls; let answerIndex=index">
                <div class="flex py-2 px-12" [formGroupName]="answerIndex">
                  <label class="label">{{answerIndex + 1}}.</label>
                  <input class="input-form" type="text" formControlName="answer" />

                  <span class="icon-container" (click)="removeQuestionAnswer(questionIndex,answerIndex)">
                 <ng-icon class="icon" size="30" name="hero-trash-solid"></ng-icon>

              </span>
                </div>
              </div>
            </div>
            <button class=" add-btn" type="button" (click)="addQuestionAnswer(questionIndex)"> <ng-icon size="16" name="hero-plus"></ng-icon> Add Answer   </button>

          </div>
        </div>

          <button class=" btn" type="button" (click)="addQuestion()"> <ng-icon size="16" name="hero-plus"></ng-icon> Add Question</button>

      </div>
    </form>
    </div>

    <div class="footer ">
      <div>
        <button class="reset-btn " type="button" (click)="resetForm()"> <ng-icon size="13" name="hero-ban"></ng-icon> Reset </button>
        <button class=" btn" type="button" (click)="onSubmit()"> <ng-icon size="13" name="hero-paper-airplane"></ng-icon> Submit</button>
      </div>
    </div>
<!--  For testing purpose only TODO remove in production  {{this.QAForm.value | json}}-->

  </div>
</div>
